<!-- sidebar: tag list -->
<div class="panel panel-default tags">
    <div class="panel-heading title">
        {{ "sidebar.tags" | translate }}
    </div>
    <div class="panel-body list">
        {% capture tagCounts %} 
            {% for tag in site.tags %}
                {"name":"{{ tag[0] }}","count":{{ tag[1].size }}}
            {% endfor %}
        {% endcapture %} 
        <input type="hidden" id="tag-values" value='{{ tagCounts | split: ' ' | join: "," }}'/>
        <div style="display: none"><a id="tag-value" class="taglink" rel="bookmark" href="{{site.baseurl}}/tag/#" data-target-cate="#"></a></div>
        <div class="tag-values-container">
        </div>
    </div>
</div>
