<!-- sidebar:category list -->
<div class="panel panel-default categories">
    <div class="panel-heading title">
        Blogs 
    </div>
    <div class="panel-body">
        <ul>
          <li><a href="https://dickwu.com/" title="Dick Wu" target="_blank">Dick Wu</a></li>
          <li><a href="http://www.klion26.com/" title="Klion26" target="_blank">Klion26</a></li>
          <li><a href="http://www.programlife.net/" rel="friend met colleague neighbor" target="_blank">代码疯子</a></li>
          <li><a href="http://liangjiabin.com/" rel="friend met colleague neighbor" target="_blank">梁佳宾的网络日志</a></li>
          <li><a href="http://ilovetile.com/" title="王思捷-前端" target="_blank">我爱平铺</a></li>
          <li><a href="http://blog.haipo.me/" title="杨海坡" target="_blank">杨海坡</a></li>
          <li><a href="http://www.dreamflier.net/blog/user1/3/index.html" target="_blank">梦翔天空</a></li>
          <li><a href="http://www.the5fire.com" rel="friend" target="_blank">胡阳个人博客</a></li>
          <li><a href="http://www.yunweipai.com/" title="运维派" target="_blank">运维派</a></li>
          <li><a href="http://www.thuflute.com/index.html" title="清华大学笛子协会~我创立滴哦~ :)" target="_blank">清华大学笛子协会</a></li>
          <li><a href="http://coolshell.cn/" target="_blank">酷壳</a></li>
          <li><a href="http://zhiqiang.org/blog/" title="阅微堂" target="_blank">阅微堂</a></li>
        </ul>
    </div>
</div>
